@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.card, .manual__step, .description__btn {
  box-shadow: 0.3rem 0.3rem 10px rgba(0, 0, 0, 0.2);
}

.card__subtitle, .card__title, .card__tagged, .restaurants__title, .manual__content, .manual, .description__subtitle, .description__title, .location__text {
  font-family: "Roboto", sans-serif;
}

@keyframes arc-loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes rotate-1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: arc-loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading__item {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.loading__item--arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 3px solid #9356DC;
}
.loading__item--arc:nth-child(1) {
  animation: rotate-1 1.15s linear infinite;
  animation-delay: -0.8s;
}
.loading__item--arc:nth-child(2) {
  animation: rotate-2 1.15s linear infinite;
  animation-delay: -0.4s;
}
.loading__item--arc:nth-child(3) {
  animation: rotate-3 1.15s linear infinite;
  animation-delay: 0s;
}

.header {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}
.header__img {
  width: 9rem;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__title {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__list__item {
  margin: 0.5rem 0;
}
.footer__list__item:first-child {
  margin-top: 0;
}
.footer__list__item:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.location {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  font-size: 1.2rem;
  position: relative;
  background-color: #EAEAEA;
}
.location__icon {
  margin-right: 1rem;
}
.description {
  padding: 2rem;
  text-align: center;
  background-color: #F6F6F6;
}
.description__title {
  font-size: 1.5rem;
}
.description__subtitle {
  margin: 1.5rem 0;
}
.description__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  color: white;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  border-radius: 100px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.description__btn:hover {
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  .manual {
    padding: 0.5rem 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .manual {
    padding: 0.5rem 3rem;
  }
}
.manual h2 {
  margin-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .manual__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
  }
}
.manual__icon {
  width: 3rem;
  font-size: 1.25rem;
  text-align: center;
  color: #818181;
}
.manual__step {
  flex: 1;
  background-color: #F6F6F6;
  border-radius: 1.5rem;
  margin: 1.25rem 2rem;
  cursor: pointer;
}
.manual__step:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.manual__step:hover .manual__icon {
  color: #9356DC;
}
.manual__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 4.5rem;
}
.manual__item {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  width: 1rem;
  text-align: center;
  margin: 0 0.5rem 0 -0.5rem;
  padding: 0.3rem 0.5rem;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 2rem 1rem;
}
@media screen and (min-width: 1280px) {
  .restaurants {
    padding: 2rem 3rem;
  }
}
.restaurants__title {
  margin-left: 1.5rem;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants__container {
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
  }
}

.card {
  flex: 40%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 1280px) {
  .card {
    margin: 1rem;
  }
}
.card__img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border: 0px solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
}
.card__tagged {
  top: 1rem;
  right: 1rem;
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}

.favorite__btn {
  height: 2rem;
  width: 2rem;
  position: relative;
  background-color: black;
}
.favorite__btn::before {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.favorite__btn:hover::before {
  opacity: 1;
}
.favorite__btn:hover .favorite__like--dislike {
  opacity: 0;
}
.favorite__like {
  position: absolute;
  transition-duration: 0.25s;
  background-color: white;
  mix-blend-mode: lighten;
}

/*# sourceMappingURL=style.css.map */
