.location {
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    font-size: 1.2rem;
    position: relative;
    background-color: $bgcolor-primary;
    &__icon {
        margin-right: 1rem;
    }
    &__text {
        @extend %font-family-txt;
    }
}

.description {
    padding: 2rem;
    text-align: center;
    background-color: $bgcolor-secondary;
    &__title {
        font-size: 1.5rem;
        @extend %font-family-txt;
    }
    &__subtitle {
        margin: 1.5rem 0;
        @extend %font-family-txt;
    }
    &__btn {
        @include button;
    }
}

.manual {
    @include tablet {
        padding: 0.5rem 1.25rem;
    }
    @include desktop {
        padding: 0.5rem 3rem;
    }
    h2 {
        margin-left: 1.25rem;
        @extend %font-family-txt;
    }
    &__container {
        @include tablet {
            display: flex;
            flex-direction: row;
            margin-bottom: 1.25rem;
        }       
    }
    &__icon {
        width: 3rem;
        font-size: 1.25rem;
        text-align: center;
        color: $bgcolor-tertiary;
    }
    &__step {
        flex: 1;
        background-color: $bgcolor-secondary;
        border-radius: 1.5rem;
        @extend %shadow;
        margin: 1.25rem 2rem;
        cursor: pointer;
        &:hover{
            background-color: rgba(147, 86, 220, 0.1);
            .manual__icon {
                color: $color-primary; 
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 4.5rem;
        @extend %font-family-txt;
    }
    &__item {
        background-color: $color-primary;
        border-radius: 50%;
        color: white;
        width: 1rem;
        text-align: center;
        margin: 0 0.5rem 0 -0.5rem;
        padding: 0.3rem 0.5rem;
    }
}

.restaurants {
    background-color: $bgcolor-secondary;
    padding: 2rem 1rem;
    &__title {
        margin-left: 1.5rem;
        @extend %font-family-txt;
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include tablet {
            display: flex;
            flex-direction: inherit;
            flex-wrap: wrap;
        };
    }
}

.card {
    flex: 40%;
    margin: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    @extend %shadow;
    &__img {
        height: 12rem;
        width: 100%;
        object-fit: cover;
        border: 0px solid transparent;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
    }
    &__tagged {
        top: 1rem;
        right: 1rem;
        position: absolute;
        background-color: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 50%);
        padding: 0.5rem;
        border-radius: 0.2rem;
        @extend %font-family-txt;
    }
    &__footer {
        padding: 1rem;
        position: relative;
        display: flex;
        align-items: center;
    }
    &__content {
        flex: 1;
    }
    &__title {
        margin: 0;
        margin-bottom: 0.25rem;
        @extend %font-family-txt;
    }
    &__subtitle {
        margin: 0;
        @extend %font-family-txt;
    }
}

.favorite {
    &__btn {
        height: 2rem;
        width: 2rem;
        position: relative;
        background-color: black;
        &::before {
            position: absolute;
            opacity: 0;
            transition: .5s;
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
        }
        &:hover::before {
            opacity: 1;
        }
        &:hover .favorite__like--dislike {
            opacity: 0;
        }
    }
    &__like {
        position: absolute;
        transition-duration: .25s;
        background-color: white;
        mix-blend-mode: lighten;
    }
}