%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-column {
    display: flex;
    flex-direction: column;
}
%flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
%shadow {
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
}
%font-family-txt {
    font-family: $font-txt;
}
%font-family-title {
    font-family: $font-title;
}
%ellipsis {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}