@mixin button($color1: $color-secondary, $color2: $color-primary, $font: $font-txt) {
    border: 0;
    padding: 0.75rem 1.5rem;
    color: white;
    background: linear-gradient(to right bottom, $color1, $color2);
    border-radius: 100px;
    cursor: pointer;
    font-family: $font;
    @extend %shadow;
    &:hover {
        opacity: 0.75;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}
