$loading-color: (
    color-1: #FF79DA,
    color-2: #9356DC,
    color-3: #554d73
);

$loading-animation-delay: (
    animation-delay-1: -0.8s,
    animation-delay-2: -0.4s,
    animation-delay-3: 0s
);